<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ДоброДело</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Добрые дела</a>
        <div>
            <a href="/login" class="btn btn-outline-light">Войти</a>
            <a href="/register" class="btn btn-light">Регистрация</a>
        </div>
    </div>
</nav>
<main class="container mt-4">
    {% block content %}{% endblock %}
</main>
</body>
</html>